.App{
  background: #0073cf;
  font-weight: 700;
  font-family: "Neue Helvetica W01","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}


.name-text{
  webkit-font-smoothing: antialiased;
  color: white;
  font-family: 'Neue Helvetica W01', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
  font-size: 1.75rem;
  text-transform: capitalize;
  display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.image-div{
  height: 250px;
  width:100%;
}

.app-button{
  background-color: #ffef5e;
  font-family: "Neue Helvetica W01","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  font-size: 1.75rem;
  webkit-font-smoothing: antialiased;
  font-weight: 600;
  border-color: #ffef5e;
  padding: 15px 32px;
}
.cross-button{
  background-color: #ffef5e;
  font-family: "Neue Helvetica W01","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  font-weight: 400;
  font-size: 1rem;
  webkit-font-smoothing: antialiased;
}

.app-title{
  font-family: "Neue Helvetica W01","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  color: white;
  font-size: 70px;
  webkit-font-smoothing: antialiased;
  display: block;
  font-weight: 700;
}

.app-h2{
  font-family: "Neue Helvetica W01","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  color: white;
  font-size: 50px;
  webkit-font-smoothing: antialiased;
  display: block;
  font-weight: 700;
}

.app-ul{
    list-style-type: none;
}
